.title {
    font-size: 2rem;
}

.title-product {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.card-actions {
    display: flex;
    justify-content: end;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

.pagination button {
  padding: 0.3rem 0.6rem;
  border: none;
  background-color: #398dea;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #398dea;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
