.filter-container {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 5vh;
}

.buscador {
  width: 45%;
  height: 25px;
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.06);
  background: rgba(255, 255, 255, 0.02);
  color: #fff;
  outline: none;
}

.buscador::placeholder {
  color: #fff;
}

.options-filter {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.06);
  background: rgba(255, 255, 255, 0.02);
  color: inherit;
}

.option {
  background-color: #1a1a1a;
}

.price {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.06);
  background: rgba(255, 255, 255, 0.02);
  color: #fff;
  outline: none;
}
